<div class="container limit-md">

    <h5 class="text-primary-emphasis">Your Order Details:</h5>
    <ul class="list-group mb-2" *ngIf="order$ | async as orderdetail">
        <li class="list-group-item"><span style="font-weight:bold;">Order ID: </span>{{orderdetail.orderID}}</li>
        <li class="list-group-item"><span style="font-weight:bold;">Order Date: </span>{{orderdetail.orderDate | date}}
        </li>
        <li class="list-group-item"><span style="font-weight:bold;">Status: </span>
            <span *ngIf="orderdetail.delivered" class="text-success">Delivered</span>
            <span *ngIf="!orderdetail.delivered" class="text-warning-emphasis">Pending Delivery</span>
            <button type="button" class="btn btn-primary ms-2"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                *ngIf="!orderdetail.delivered" (click)="markDelivered(orderdetail.orderID)">Mark As Delivered</button>
        </li>
        <li class="list-group-item"><span style="font-weight:bold;">Name: </span>{{orderdetail.customerName}}</li>
        <li class="list-group-item"><span style="font-weight:bold;">Phone: </span>{{orderdetail.customerPhone}}</li>
        <li class="list-group-item"><span style="font-weight:bold;">Email: </span>{{orderdetail.customerEmail}}</li>
        <li class="list-group-item"><span style="font-weight:bold;">Shipping Address:
            </span>{{orderdetail.shippingAddress}}
        </li>
        <li class="list-group-item"><span style="font-weight:bold;">Shipping Type: </span>{{orderdetail.shippingType}}
        </li>
        <li class="list-group-item"><span style="font-weight:bold;">Shipping Cost: </span>${{orderdetail.shippingCost |
            number: '1.2-2'
            }}</li>
        <li class="list-group-item"><span style="font-weight:bold;">Subtotal: </span>${{orderdetail.subtotal | number:
            '1.2-2'
            }}</li>
        <li class="list-group-item"><span style="font-weight:bold;">Total: </span>${{orderdetail.total | number: '1.2-2'
            }}</li>
        <li class="list-group-item"><span style="font-weight:bold;">Payment ID: </span>{{orderdetail.paymentID}}</li>
        <li class="list-group-item">
            <h5 class="text-primary-emphasis">Items:</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price/ea</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderdetail.items">
                        <td scope="row" class="text-primary"><a
                                [routerLink]="['../../','detail',item.productID]">{{item.productName}}</a></td>
                        <td>{{item.quantity}}</td>
                        <td>
                            <div class="d-flex flex-wrap">
                                <div class="flex-shrink-1" [class.discount-text]="item.discount" class="me-1">
                                    ${{item.cost|
                                    number: '1.2-2'}}</div>
                                <div class="flex-shrink-1" *ngIf="item.discount" class="text-danger">
                                    ${{item.cost-item.discount| number: '1.2-2'}}
                                </div>
                            </div>
                        </td>
                        <td>${{item.quantity * (item.cost-item.discount)| number: '1.2-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>

    <div class=" row padding-top-10px">
        <div class="col-6 d-flex justify-content-start">
            <button class="btn btn-secondary" [routerLink]="['/history']">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-clock-history align-icon" viewBox="0 0 16 16">
                    <path
                        d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
                    <path
                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                </svg>
                My Orders
            </button>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-danger" [routerLink]="['/shop']">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-bag align-icon" viewBox="0 0 16 16">
                    <path
                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg>
                Return to Shop
            </button>
        </div>
    </div>

</div>