<div class="container text-body limit-md">

    <h1 class="text-center display-6 ">New Account Sign Up</h1>
    <h6>Welcome to the Pokemart!</h6>
    <h6>Please Fill In Your Personal Details:</h6>

    <form [formGroup]="signupForm" (submit)="signup()">

        <div class="form-floating mt-3 has-validation">
            <input type="text" class="form-control"
                [class.is-invalid]="this.signupForm.get('username')!.hasError('minlength')" id="username"
                formControlName="username" placeholder="Username">
            <label for="username">Username</label>
            <div id="usernamevalidation" class="invalid-feedback">
                Username must be at least 6 characters
            </div>
        </div>


        <div class="form-floating mt-3 has-validation">
            <input type="password" class="form-control"
                [class.is-invalid]="this.signupForm.get('password')!.hasError('minlength')" id="password"
                formControlName="password" placeholder="Password">
            <label for="password">Password</label>
            <div id="passwordvalidation" class="invalid-feedback">
                Password must be at least 8 characters
            </div>
        </div>



        <div class="form-floating mt-3 has-validation">
            <input type="text" class="form-control" id="name"
                [class.is-invalid]="this.signupForm.get('customerName')!.hasError('minlength')"
                formControlName="customerName" placeholder="Name">
            <label for="name">Name</label>
            <div id="namevalidation" class="invalid-feedback">
                Name must be at least 3 characters
            </div>
        </div>

        <div class="form-floating mt-3 has-validation">
            <input type="email" class="form-control"
                [class.is-invalid]="this.signupForm.get('customerEmail')!.hasError('email')" id="email"
                formControlName="customerEmail" placeholder="Email">
            <label for="email">Email</label>
            <div id="emailvalidation" class="invalid-feedback">
                Please enter a valid email format
            </div>
        </div>

        <div class="form-floating mt-3 has-validation">
            <input type="text" class="form-control"
                [class.is-invalid]="this.signupForm.get('customerPhone')!.hasError('minlength')" id="phone"
                formControlName="customerPhone" placeholder="Phone">
            <label for="phone">Phone</label>
            <div id="phonevalidation" class="invalid-feedback">
                Phone Number must be at least 8 numbers
            </div>
        </div>

        <div class="form-floating mt-3 has-validation">
            <input type="text" class="form-control"
                [class.is-invalid]="this.signupForm.get('shippingAddress')!.hasError('minlength')" id="shippingAddress"
                formControlName="shippingAddress" placeholder="Shipping Address">
            <label for="shippingAddress">Shipping Address</label>
            <div id="passwordvalidation" class="invalid-feedback">
                Shipping Address must be at least 8 characters
            </div>
        </div>

        <div class="form-floating mt-3 has-validation">
            <input type="date" class="form-control" id="birthdate" formControlName="birthdate" placeholder="DOB"
                [class.is-invalid]="this.signupForm.get('birthdate')!.hasError('isFuture')">
            <label for="birthdate">Date of Birth</label>
            <div id="birthvalidation" class="invalid-feedback">
                You must be born at least yesterday!
            </div>
        </div>

        <div class="form-floating mt-3 has-validation">
            <select class="form-select" id="gender" formControlName="gender" placeholder="Gender">
                <option value="M">M</option>
                <option value="F">F</option>
                <option value="L">L</option>
                <option value="G">G</option>
                <option value="B">B</option>
                <option value="T">T</option>
                <option value="Q">Q</option>
                <option value="I">I</option>
                <option value="A">A</option>
                <option value="A">+</option>
            </select>
            <label for="gender">Gender</label>
        </div>
        <br>
        <div class="d-grid">
            <button class="btn btn-lg btn-success btn-block" type="submit"
                [disabled]="(signupForm.invalid || signupProcessing)">
                <span class="spinner-border me-1" style="width: 1.5rem; height: 1.5rem;" role="status"
                    aria-hidden="true" *ngIf="signupProcessing"></span>
                <span class="sr-only">Sign Up</span>
            </button>
        </div>
    </form>


</div>


<ng-template #success let-modal>
    <div class="modal-header bg-success-subtle">
        <h4 class="modal-title text-success-emphasis"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                fill="currentColor" class="bi bi-check-circle-fill align-icon me-1" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>Registration Successful. Please Sign In.</h4>
    </div>
    <div class="modal-body bg-success-subtle d-flex justify-content-center p-0" ngbAutofocus>
        <p class="m-0">You will be redirected in <time><strong id="seconds"><span>{{countdown}}</span></strong>
                seconds</time>.</p>
    </div>
    <div class="modal-footer bg-success-subtle text-center">
        <button class="btn btn-outline-success" (click)="skipCountdown()" (click)="modal.close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-box-arrow-in-right align-icon me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                <path fill-rule="evenodd"
                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
            Proceed to Sign In
        </button>
    </div>
</ng-template>

<ng-template #unsuccess let-modal>
    <div class="modal-header bg-danger-subtle border-danger">
        <h4 class="modal-title text-danger-emphasis"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                fill="currentColor" class="bi bi-x-octagon-fill align-icon me-1" viewBox="0 0 16 16">
                <path
                    d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
            </svg>Registration Unsuccessful. Please Try Again</h4>
    </div>
    <div class="modal-footer bg-danger-subtle d-flex justify-content-end">
        <button class="btn btn-danger" (click)="modal.close()" ngbAutofocus>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-x-lg align-icon" viewBox="0 0 16 16">
                <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            </svg>
            Cancel
        </button>
    </div>
</ng-template>