<div class="container text-body">
    <div class="card mb-3">
        <div *ngIf="product | async as prod ; else search">
            <div class="card-header">
                <h4 class="mb-0">Product: {{prod.productID}}</h4>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">
                        <h5 class="mb-0">Inventory Details:</h5>
                    </li>
                    <li class="list-group-item px-0">
                        <dl class="row mb-0">
                            <dt class="col-4 mb-0">STOCK:</dt>
                            <dd class="col-8 mb-0">{{prod.stock}}</dd>
                        </dl>
                    </li>
                    <li class="list-group-item px-0">
                        <dl class="row mb-0">
                            <dt class="col-4 mb-0">DISCOUNT:</dt>
                            <dd class="col-8 mb-0">{{prod.discount}}</dd>
                        </dl>
                    </li>
                    <li class="list-group-item px-0">
                        <dl class="row mb-0">
                            <dt class="col-4 mb-0">COMMENTS:</dt>
                            <dd class="col-8 mb-0">{{prod.comments}}</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-footer-secondary">
            <h6>Search for Product Inventory Details:</h6>
            <div class="input-group mb-3">
                <span class="input-group-text" id="comment-addon">p</span>
                <input type="text" class="form-control" [formControl]="id">
                <button type="button" class="btn btn-success" (click)="getInventoryDetails()">Search!</button>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square align-icon" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                        Edit Stock Value
                    </strong>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="comment-addon">New Stock Value:</span>
                        <input type="text" class="form-control" [formControl]="stock">
                    </div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-outline-danger" (click)="updateStock()">Save New Stock
                            Value</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square align-icon" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                        Edit Discount Value
                    </strong>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="comment-addon">New Discount Value:</span>
                        <input type="text" class="form-control" [formControl]="discount">
                    </div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-outline-danger" (click)="updateDiscount()">Save New
                            Discount Value</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square align-icon" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                        Edit Product Comment
                    </strong>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="comment-addon">New Comment:</span>
                        <input type="text" class="form-control" [formControl]="comment">
                    </div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-outline-danger" (click)="updateComment()">Save New
                            Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #search>
    <div class="card-header">
    <h5>Please input product number:</h5>
    </div>
</ng-template>