<div class="card height-100">
    <div (click)="detailPage()">
        <img [src]=" imgsrc" class="card-img-top img-120px">
        <div class="card-body">
            <h5 class="card-title">{{item.productName}}</h5>
            <h6 class="card-text">$ {{item.cost | number: '1.2-2'}} <br> {{item.stock}} in stock</h6>
        </div>
    </div>
    <div class="card-footer text-body-secondary">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-lightning align-icon" viewBox="0 0 16 16">
                <path
                    d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z" />
            </svg> Quick Buy
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Input Quantity:</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body inline">
                        <div>
                            <h4>{{item.productName}}</h4>
                        </div>
                        <div class="btn-group width-150" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary" (click)="decreaseQty()"
                                [disabled]="this.quantity!.value &lt; 2">-</button>
                            <input type="text" class="form-control btn-outline btn-primary center-text"
                                [formControl]="quantity">
                            <button type="button" class="btn btn-primary" (click)="increaseQty()" [disabled]="this.quantity!.value
                        &gt; this.item.stock-1">+</button>
                        </div>
                        <div>
                            <h4>Total: ${{item.cost * this.quantity!.value | number: '1.2-2'}}</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-success " [disabled]="quantity.invalid" (click)="addToCart()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart-plus align-icon" viewBox="0 0 16 16">
                                <path
                                    d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                                <path
                                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                            Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>