.btn-float {
    position: fixed;
    bottom: 2%;
    right: 4%;
    z-index: 1000;
}

.alert-float {
    position: absolute;
    /* right: 0; */
    margin: auto;
    z-index: 1000;
    opacity: 0.8;
}

.banner {
    width: 100%;
}