<div class="alert alert-light alert-dismissible fade show alert-float" role="alert">
    <h5 class="text-body">Welcome to the Pokemart! How may we help you today?</h5>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container p-0">
    <div class="d-flex justify-content-center p-0">
        <div id="landingcarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                    <picture class="banner">
                        <source media="(min-width:768px)" srcset="{{imgURLroot}}landing-1w.jpg">
                        <img src="{{imgURLroot}}landing-1t.jpg" class="banner">
                    </picture>
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <picture class="banner">
                        <source media="(min-width:768px)" srcset="{{imgURLroot}}landing-2w.jpg">
                        <img src="{{imgURLroot}}landing-2t.jpg" class="banner">
                    </picture>
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <picture class="banner">
                        <source media="(min-width:768px)" srcset="{{imgURLroot}}landing-3w.jpg">
                        <img src="{{imgURLroot}}landing-3t.jpg" class="banner">
                    </picture>
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <picture class="banner">
                        <source media="(min-width:768px)" srcset="{{imgURLroot}}landing-4w.jpg">
                        <img src="{{imgURLroot}}landing-4t.jpg" class="banner">
                    </picture>
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <picture class="banner">
                        <source media="(min-width:768px)" srcset="{{imgURLroot}}landing-5w.jpg">
                        <img src="{{imgURLroot}}landing-5t.jpg" class="banner">
                    </picture>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#landingcarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#landingcarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div *ngIf="!this.userSvc.userID">
        <button type="button" class="btn bg-light-subtle btn-float border border-light-subtle"
            [routerLink]="['/auth/login']">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-box-arrow-in-right align-icon me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                <path fill-rule="evenodd"
                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
            <strong>Sign In</strong>
        </button>
    </div>
</div>