<div class="app-container">
    <nav class="navbar border-bottom border-dark-subtle margin-bot-5px sticky-top bg-body-tertiary">
        <div class="container-fluid">
            <img class="logo" src="api\img\logo.png">
            <form class="d-flex" role="search">
                <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search"
                    [formControl]="searchQuery">
                <button class="btn btn-success" type="button" (click)="search()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search align-icon" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>

            <ul class="nav nav-underline sticky-top">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/']">Shop</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" [routerLink]="['/category']">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/uc']">Test Link</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" [routerLink]="['/cart']">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart align-icon" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        Cart</a>
                </li>

            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>


    <!-- sticky layout clashes with 404 page
    <nav class="navbar sticky-bottom bg-body-tertiary">
        <div class="container-fluid">
            <p class="credit">Pokemart Logo By: <a href="https://www.domestika.org/en/thedesmonddu">@thedesmonddu</a>
            </p>
        </div>
    </nav> -->

</div>