.right-text {
    text-align: right;
}

.img-300px {
    height: auto;
    max-width: 200px;
    margin: auto;
}

.img-30vh {
    height: 30vh;
    width: auto;
    margin: auto;
}

.align-icon {
    vertical-align: -0.125em;
}

.discount-text{
    text-decoration: line-through;
    color: #808080;
}