<div class="container limit-md text-body">
    <div class="card" *ngIf="this.item">
        <div class="card-header">
            <h3 class="card-title">{{this.item.productName}}</h3>

        </div>
        <img [src]="imgsrc" class="card-img-top img-30vh">
        <div class="card-body">
            <h4 class="card-title">$ {{this.item.cost | number: '1.2-2'}}</h4>
            <h5 class="card-subtitle mb-2 text-body-secondary">ID: {{this.item.productID}}</h5>

            <ul class="list-group list-group-flush">
                <li class="list-group-item p-1">
                    <dl class="row mb-0">
                        <dt class="col-4 mb-0">PRICE:</dt>
                        <dd class="col-8 mb-0">
                            <span [class.discount-text]="item.discount" class="me-1">${{item.cost| number:
                                '1.2-2'}}</span>
                            <span *ngIf="item.discount" class="text-danger">${{item.cost -
                                item.discount| number: '1.2-2'}}</span>
                        </dd>
                    </dl>

                    <dl class="row mb-0">
                        <dt class="col-4 mb-0">IN STOCK:</dt>
                        <dd class="col-8 mb-0">{{this.item.stock}}</dd>
                    </dl>
                </li>
                <li class="list-group-item p-1">
                    <dl class="row mb-0">
                        <dt class="col-4 mb-0">CATEGORY:</dt>
                        <dd class="col-8 mb-0">{{this.item.category | uppercase }}</dd>
                    </dl>
                </li>
                <li class="list-group-item p-1" *ngIf="this.item.attributes.length>0">
                    <dl class="row mb-0">
                        <dt class="col-4 mb-0">ATTRIBUTES:</dt>
                        <dd class="col-8 mb-0">
                            <h6 *ngFor="let attr of this.item.attributes"><small><i>{{attr}}</i></small></h6>
                        </dd>
                    </dl>
                </li>
                <li class="list-group-item mb-0">{{this.item.description}}</li>

            </ul>

        </div>

        <div class="card-footer text-body-secondary justify-content-end m-0">
            <p class="text-danger" *ngIf="this.quantity!.hasError('min')"><small>Please input a minimum quantity of
                    1</small>
            </p>
            <p class="text-danger" *ngIf="this.quantity!.hasError('max')"><small>You are only allowed to purchase a
                    maximum of {{this.item.stock}} due to limited
                    stock</small></p>

            <div class="d-flex justify-content-between mb-2">
                <div>
                    <h4>Total: ${{(item.cost-item.discount) * this.quantity!.value | number: '1.2-2'}}</h4>
                </div>
                <div>
                    <div class="btn-group" role="group" aria-label="quantity">
                        <button type="button" class="btn btn-primary" (click)="decreaseQty()"
                            [disabled]="this.quantity!.value &lt; 2">-</button>
                        <input type="text" class="form-control btn btn-outline-primary text-center text-body" size="5"
                            [formControl]="quantity">
                        <button type="button" class="btn btn-primary" (click)="increaseQty()" [disabled]="this.quantity!.value
                        &gt; this.item.stock-1">+</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <button [routerLink]="['/shop']" class="btn btn-warning me-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-bag align-icon" viewBox="0 0 16 16">
                    <path
                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg> Back to Shop</button>
                <button class="btn btn-success" (click)="addToCart()" [disabled]="quantity.invalid"
                    *ngIf="this.cartSvc.userSvc.userID; else signInRequired">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart-plus-fill align-icon" viewBox="0 0 16 16">
                        <path
                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                    </svg>
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
    
</div>

<ng-template #content let-modal>
	<div class="modal-header bg-success-subtle border-success">
		<h4 class="modal-title text-success-emphasis"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill align-icon" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg> Successfully Added to Cart</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-footer bg-success-subtle d-flex justify-content-between">
        <button class="btn btn-warning" [routerLink]="['/shop']" (click)="modal.close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-bag align-icon" viewBox="0 0 16 16">
                <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
            </svg>
            Back to Shop
        </button>
        <button class="btn btn-success" [routerLink]="['/cart']" (click)="modal.close()" ngbAutofocus>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-cart align-icon" viewBox="0 0 16 16">
            <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
            Go to Cart
        </button>
	</div>
</ng-template>

<ng-template #signInRequired>
    <button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContent" popoverClass="bg-primary-subtle p-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-cart-x-fill align-icon" viewBox="0 0 16 16">
            <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7.354 5.646 8.5 6.793l1.146-1.147a.5.5 0 0 1 .708.708L9.207 7.5l1.147 1.146a.5.5 0 0 1-.708.708L8.5 8.207 7.354 9.354a.5.5 0 1 1-.708-.708L7.793 7.5 6.646 6.354a.5.5 0 1 1 .708-.708z" />
        </svg>
        Add to Cart</button>
</ng-template>

<ng-template #popContent>
    <div class="row m-0 ">
        <div class="col p-0">
            <h6 class="m-0">
                <small> Please Sign In To Add Items To Your Cart</small>
            </h6>
        </div>
        <div class="col-4 p-0 text-center">
            <button [routerLink]="['/auth/login']" class="btn btn-primary btn-sm">Sign In!</button>
        </div>
    </div>
</ng-template>

