<div class="container">
    <h6 *ngIf="this.category">Showing products under {{category|uppercase}} category:</h6>
</div>

<div class="container text-center">

    <div class="row row-cols-2 gx-2 gy-2">
        <div *ngFor=" let item of catalogue$ | async, let i=index">
            <app-cat-item class="col" [item]="item"></app-cat-item>
        </div>
    </div>

    <nav>
        <ul class="pagination justify-content-center padding-top-10px">
            <li class="page-item" [class.disabled]="this.page == 0" (click)="decreasePage()">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item" *ngIf="this.page != 0"><a class="page-link" href="#">{{this.page}}</a></li>
            <li class="page-item active"><a class="page-link" href="#">{{this.page+1}}</a></li>
            <li class="page-item" *ngIf="this.page &lt; this.maxpage"><a class="page-link" href="#">{{this.page+2}}</a>
            </li>
            <li class="page-item" *ngIf="this.page &lt; this.maxpage-1"><a class="page-link"
                    href="#">{{this.page+3}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" [class.disabled]="this.page == this.maxpage" (click)="increasePage()">Next</a>
            </li>
        </ul>
    </nav>

</div>