<div class="pt-5 text-body">
    <h1 class="text-center">{{titleMain}}</h1>
    <div class="pokeball">
        <div class="pokeball__button"></div>
    </div>
    <div class="text-center">
    <h2>{{subtitleFirst}}</h2>
    <h2>{{subtitleSecond}}</h2>
    </div>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-secondary btn-lg" [routerLink]="['/']">Return to Safety</button>
    </div>
    <div class="text-center">
        <p><small>Pokeball Animation By: <a href="https://codepen.io/raubaca">@raubaca</a></small></p>
    </div>
</div>


