<div class="card height-100pct">
    <h6 class="card-comment" *ngIf="item.comments"><span class="badge bg-info">{{item.comments |
            uppercase}}</span></h6>

    <div (click)="detailPage()">
        <img [src]="imgsrc" class="card-img-top img-100max">
        <div class="card-body padding-5px px-1 py-1">
            <h5 class="card-title">{{item.productName}}</h5>
        </div>
        <div class="card-footer text-body-secondary">
            <div class="card-text text-start">
                <h6>
                    <span [ngClass]="{'discount-text': item.discount}" >${{item.cost | number: '1.2-2'}}</span>
                    <span class="text-danger" *ngIf="item.discount"><br>${{item.cost-item.discount | number:
                        '1.2-2'}}
                        <span class="badge bg-danger">{{item.discount/item.cost * 100 | number: '1.0'}}% OFF</span>
                    </span>
                    <br><small>{{item.stock}} IN STOCK</small>
                </h6>
            </div>
        </div>
    </div>
</div>