<div class="container">
    <h4>Welcome to the Pokemart! How may we help you today?</h4>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
                <img src="api\img\pokemon-freeshipping.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="api\img\pokemon-chicken.png" class="d-block w-100">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="api\img\pokemon-glassware.jpg" class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="d-grid gap-2 padding-top-10px">
        <button class="btn btn-primary" type="button">Our Loyal Customer? Sign in to access your
            account</button>
        <button class="btn btn-success" type="button">New to Pokemart? Sign Up for an account!</button>
        <button class="btn btn-info" type="button">Exploring our shop? Search by item categories!</button>
        <button class="btn btn-secondary" type="button">No Worries! I'm just looking!</button>
    </div>
</div>