<div class="container text-body limit-md">

    <h1 class="text-center display-6 ">New Account Sign Up</h1>
    <h6>Welcome to the Pokemart!</h6>
    <h6>Please Fill In Your Personal Details:</h6>

    <form [formGroup]="signupForm" (submit)="signup()">
        <div class="form-floating mb-3 ">
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username">
            <label for="username">Username</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
            <label for="password">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" formControlName="customerName" placeholder="Name">
            <label for="name">Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" formControlName="customerEmail" placeholder="Email">
            <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="phone" formControlName="customerPhone" placeholder="Phone">
            <label for="phone">Phone</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="shippingAddress" formControlName="shippingAddress" placeholder="Shipping Address">
            <label for="shippingAddress">Shipping Address</label>
        </div>

        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="birthdate" formControlName="birthdate" placeholder="DOB">
            <label for="birthdate">Date of Birth</label>
        </div>

        <div class="form-floating ">
        <select class="form-select" id="gender" formControlName="gender" placeholder="Gender">
            <option value="M">M</option>
            <option value="F">F</option>
            <option value="L">L</option>
            <option value="G">G</option>
            <option value="B">B</option>
            <option value="T">T</option>
            <option value="Q">Q</option>
            <option value="I">I</option>
            <option value="A">A</option>
            <option value="A">+</option>
        </select>
            <label for="gender">Gender</label>
        </div>
        <br>
        <div class="d-grid">
        <button class="btn btn-lg btn-success" type="submit" >Sign Up</button>
    </div>
    </form>


</div>